# finosgrid
.DS_Store
*.log
node_modules/
dist/

# Vendored Perspective checkout is no longer part of this project
# (depend on @finos/perspective* from npm instead)
/perspective/

apps/*/node_modules/
apps/*/dist/
packages/*/node_modules/
packages/*/dist/
